<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find nearest MBTA station</title>
<style>
    p {
        text-align: center;
    }
</style>
</head>
<body>
    <form method="POST" name="mbtaHelper">
        {% if error %}
        <p style="color:red">This place is not found.</p>
        {% endif %}
        <div id=container>
            <p>
                Please enter a location: 
                <br>
                <input type="text" size=20 name="location"/>
                <br>
                <input type="submit" value="Nearest Station"/>
            </p>
        </div>
    </form>
</body>
</html>